* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #6201ee;
  --primary-text-color: #9980bb;
  --secondary-color: #e7d9fe;
  --text-white: white;
  --text-black: black;
  --all-white: white;
  --text-light-gray: rgb(231, 231, 231);
  --snackbar: #333333;
  --dialog-text: rgb(129, 129, 129);
  --body-background-color: rgb(212, 212, 212);
  --container-shadow: rgb(192, 192, 192);
  --icon-gray: #494949;
  --title-light-black: rgb(31, 31, 31);
  --drawer-item-text: rgb(58, 58, 58);
  --drawer-item-hover: #eeeeee;
  --header-hamburger-hover: rgba(151, 151, 151, 0.4);
  --badge-red: red;
}

body {
  background-color: var(--body-background-color);
}

.header-section {
  max-width: 1050px;
  margin: auto;
  padding-bottom: 1.5rem;
  display: grid;
  background-color: var(--all-white);
  box-shadow: 0 5px 5px var(--container-shadow);
}

header {
  text-align: center;
  margin: 1.5rem auto;
  padding-top: 1.2rem;
  display: block;
}
header h1 {
  margin-bottom: 1.2rem;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-around;
  }
}

button {
  font-size: 1rem;
  width: 100px;
  padding: 6px 15px;
  border-radius: 2px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-white);
  cursor: pointer;
  margin: 0.5rem;
}

nav a {
  color: var(--text-white);
}

a {
  text-decoration: none;
}

/* Cards */

.card-one-Container {
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  background-color: var(--all-white);
}

.card-one-body:hover {
  background-color: rgba(75, 75, 75, 0.4);
}

.card-one-img {
  width: 300px;
}

.card-one-text {
  padding: 1rem;
}

.card-one-text h1 {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.card-one-text p,
small {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  color: var(--dialog-text);
}

.card-one-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-one-btn {
  width: 60%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 0.7rem;
}

.card-one-btn a {
  margin-right: 1.7rem;
  margin-left: 0.2rem;
}

.card-one-icons {
  width: 40%;
  display: flex;
  color: var(--icon-gray);
  align-content: center;
  justify-content: space-around;
  font-size: 1.2rem;
}

/* drawer */

.drawer-container {
  margin: 5rem auto;
  width: 230px;
  height: 245px;
  background-color: white;
  box-shadow: 0 5px 10px var(--container-shadow);
}

.drawer-title {
  padding: 1rem 0.6rem 0.1rem;
  margin-left: 1rem;
  color: var(--title-light-black);
}
.drawer-title h1 {
  font-size: 1.2rem;
}

.drawer-title small {
  color: var(--title-light-black);
}

.drawer-items {
  /* color: black; */
  /* margin: 1.2rem 0.5; */
}

.drawer-items a {
  color: var(--drawer-item-text);
}

.drawer-items div {
  margin: 0.5rem 0.5rem;
  display: block;
  border-radius: 2px;
  padding: 0.6rem 1rem;
}

.drawer-active {
  background-color: var(--secondary-color);
  border-radius: 2px;
}

.drawer-hover:hover {
  background-color: var(--drawer-item-hover);
  border-radius: 2px;
}

.drawer-items span {
  margin-left: 2rem;
}

/* Header */

.header-container {
  max-width: 950px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--text-white);
  margin: 6rem auto;
  display: flex;
  align-items: center;
}

.header-hamburger {
  margin: 1.3rem;
  margin-right: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.header-hamburger:hover {
  border-radius: 50%;
  background-color: var(--header-hamburger-hover);
}

.header-title {
  font-size: 0.9rem;
  flex: 1;
}

.header-icons {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  margin: 0.2rem;
}

/* Snackbar */

.snackbar-container {
  max-width: 350px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6rem auto;
  color: var(--text-light-gray);
  background-color: var(--snackbar);
  box-shadow: 0 5px 10px var(--container-shadow);
}

.snackbar-text {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.snackbar-retry {
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--primary-text-color);
}

.snackbar-close {
  padding: 0.7rem;
  width: 7px;
  height: 15px;
  font-size: 0.8rem;
  cursor: pointer;
}

.snackbar-close:hover {
  border-radius: 100%;
  background-color: var(--header-hamburger-hover);
}

/* Badge */

.badge-container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--text-white);
}

.hide {
  display: none;
}

.badge-container div {
  position: relative;
  padding: 1rem;
}

.sm-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
}

.lg-badge {
  padding: 0.1rem 0.5rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 9.6rem;
}

.btn-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--badge-red);
  position: absolute;
  left: 0.9rem;
}

.btn-toggle-cont button {
  background-color: white;
  border: 0;
  box-shadow: 0 5px 10px var(--container-shadow);
  color: var(--text-black);
}

.btn-toggle-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--primary-color);
  position: absolute;
  left: 7.1rem;
}

.icon-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--badge-red);
  position: absolute;
  top: 0rem;
  left: 1.6rem;
}

/* Dialogs */

.dialog1 {
  max-width: 280px;
  height: 75px;
  border-radius: 5px;
  margin: auto;
  padding: 1.3rem 1.3rem 1rem;
  margin-top: 4rem;
  display: flex;
  background-color: var(--all-white);
  box-shadow: 0 0 15px var(--container-shadow);
}

.dialog1 p {
  width: 140px;
  color: var(--dialog-text);
}

.dialog1-btn {
  width: 150px;
  font-size: 0.9rem;
  margin-top: 1.8rem;
  text-align: end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.dialog2 {
  position: relative;
  width: 250px;
  height: 400px;
  margin: auto;
  margin-top: 3rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px var(--container-shadow);
  overflow: hidden;
}

.dialog2 p {
  font-size: 1.1rem;
  padding: 1.2rem;
  background-color: white;
  box-shadow: 0 5px 10px -8px var(--container-shadow);
}

.dialog2-btn {
  width: 220px;
  position: absolute;
  padding: 1rem;
  top: 22.1rem;
  font-size: 0.8rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--all-white);
  box-shadow: 0 -5px 10px -8px var(--container-shadow);
}

.dialog2-btn a {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

input {
  width: 50px;
  margin: 1rem 0.5rem 0.7rem 0.5rem;
}

form span {
  font-size: 0.9rem;
  margin: auto 5rem auto auto;
}
